#################################################################
# Sample EDGES Environment Configuration File                   
#                                                               
# Copy this file to e.g. ~/edges_env.local and edit as needed     
# Add the line: "source ~/edges_env.local" to your .profile file        
#################################################################


#################################################################
# EDGES PATH VARIABLES
#################################################################
# You should edit EDGES_HOME path to point to the local 
# installation of the EDGES git repository.  The others should 
# not need editing.
export EDGES_HOME=/home/loco/edges
export EDGES_SRC=${EDGES_HOME}/src
export EDGES_BIN=${EDGES_HOME}/bin
export EDGES_DATA=${EDGES_HOME}/data
PATH=$PATH:${EDGES_BIN}


#################################################################
# EDGES INSTRUMENT ID
#################################################################
# Edit the EDGES_INST to give the instrument ID string for the 
# local instrument.
export EDGES_INST=low01


#################################################################
# EDGES PXSPEC DEFAULT CONFIGURATION
#################################################################
export EDGES_PXSPEC_NCHANNELS=32768
export EDGES_PXSPEC_NACCUM=tbd


